.project_container {
    padding: 2em;
}

.title_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

@media (max-width: 768px) {
    .project_container {
        padding: 1em; 
    }

    .title_container {
        flex-direction: column; 
        align-items: center; 
        margin-bottom: 1em; 
    }
}
