.container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

.min-height {
    min-height: 75%;
}

.star {
    justify-content: flex-start;
}

.column {
    flex-direction: column;
}

@media (max-width: 768px) {
    .container {
        width: 100%; 
        justify-content: center; 
        padding: 0 1em; 
    }

    .min-height {
        
    }

    .star {
        
    }

    .column {
        
    }
}
